<p><%= notice %></p>
  <h2>投稿一覧</h2>
  <%= link_to "投稿する", new_blog_path, class: 'btn btn-default' %>
  <h3></h3>

      <div class="container">
          <div class="row">

            <div class="col-md-6" id="tweet_text">
                <a class=DashboardProfile></a>
                  <div class="Dashbord-content">
                    <h2>Twitter風アプリ</h2>
                    <p>このサイトは練習用です</p>
                    <p>投稿一覧のページです</p>
                  </div>
            </div>
            <div class="col-md-6">
              <% @blogs.each do |blog| %>
                <div class=tweets>

                 <p><%= blog.content %></p>
                  <%= link_to "編集", edit_blog_path(blog.id), class: 'btn btn-default btn-sm btn-success' %>
                  <%= link_to "削除", blog_path(blog.id), method: :delete, data: { confirm: '本当に削除していいですか？'}, class: 'btn btn-default btn-sm btn btn-danger' %>
                </div>
              <% end %>
              <p></p>
            </div>


          </div>
      </div>
